@using ItsGoStats.Models;
@using ItsGoStats.Extensions;

@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<PlayerModel>

@{
    Layout = "base";
    ViewBag.Title = Model.Player.Name;
}

<div class="header-box">
    <h1 class="display-3">@ViewBag.Title</h1>
    <p class="lead text-muted">
        Playing <strong>@Model.FirstSeen.HumanizeDate()</strong> &ndash; <strong>@Model.LastSeen.HumanizeDate()</strong>.
    </p>
    <hr class="my-2" />
    @Html.Partial("_dateconstraint_paragraph", ViewBag.Date.Value)
</div>

<ul class="nav justify-content-center">
    <li class="nav-item">
        <a class="nav-link active" href="#">Overview</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled" href="#">Encounters</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled" href="#">Purchases</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled" href="#">Items</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled" href="#">Progress</a>
    </li>
</ul>

<table class="table table-sm table-striped stat-grid-sm">
    <tbody>
        <tr>
            <th scope="row">Kills</th>
            <td>@Model.Kills</td>
        </tr>
        <tr>
            <th scope="row">Deaths</th>
            <td>@Model.Deaths</td>
        </tr>
        <tr>
            <th scope="row">Assists</th>
            <td>@Model.Assists</td>
        </tr>
    </tbody>
</table>
