@using System.Linq;

@using ItsGoStats.Models;
@using ItsGoStats.Extensions;
@using ItsGoStats.Helpers;

@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<List<PlayerModel>>

@{
    Layout = "base";
    ViewBag.Title = "Players";
}

<div class="header-box">
    <h1 class="display-3">@ViewBag.Title</h1>
    <hr class="my-2" />
    @Html.Partial("_dateconstraint_paragraph", ViewBag.Date.Value)
</div>

<table class="table table-sm table-striped stat-grid">
    <thead>
        <tr>
            <th scope="col">Player</th>
            <th scope="col">First Seen</th>
            <th scope="col">Last Seen</th>
            <th scope="col">Kills</th>
            <th scope="col">Deaths</th>
            <th scope="col">Assists</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var playerModel in Model.OrderByDescending(m => m.LastSeen).ThenBy(m => m.Player.Name))
        {
        <tr>
            <td>@RoutingHelper.PlayerLink(playerModel.Player)</td>
            <td>@playerModel.FirstSeen.HumanizeDate(shortForm: true)</td>
            <td>@playerModel.LastSeen.HumanizeDate(shortForm: true)</td>
            <td>@playerModel.Kills</td>
            <td>@playerModel.Deaths</td>
            <td>@playerModel.Assists</td>
        </tr>
        }
    </tbody>
</table>
