@using ItsGoStats.Models;

@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<PlayerModel>

@{
    Layout = "base";
    ViewBag.Title = Model.Player.Name;
}

<h1>@ViewBag.Title</h1>
@Html.Partial("_dateconstraint_paragraph", ViewBag.Date.Value)

<ul class="nav justify-content-center">
    <li class="nav-item">
        <a class="nav-link active" href="#">Overview</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled" href="#">Encounters</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled" href="#">Purchases</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled" href="#">Items</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled" href="#">Progress</a>
    </li>
</ul>

<table class="table table-dark table-striped stat-grid">
    <tbody>
        <tr>
            <th scope="row">Kills</th>
            <td>@Model.Kills</td>
        </tr>
        <tr>
            <th scope="row">Deaths</th>
            <td>@Model.Deaths</td>
        </tr>
        <tr>
            <th scope="row">Assists</th>
            <td>@Model.Assists</td>
        </tr>
    </tbody>
</table>
